PAYDOCK_INTEGRATION_CONFIG={"clientId":"nb1cYFUNQWcRcTPBfCvxIGnJ","clientSecret":"4X3F6IpnQtRwrfq2DOMt_ozkLRE3mfJB","projectKey":"zh-test-powerboard","apiUrl":"https://api.europe-west1.gcp.commercetools.com","authUrl":"https://auth.europe-west1.gcp.commercetools.com"}
'{"clientId":"nb1cYFUNQWcRcTPBfCvxIGnJ","clientSecret":"4X3F6IpnQtRwrfq2DOMt_ozkLRE3mfJB","projectKey":"zh-test-powerboard","apiUrl":"https://api.europe-west1.gcp.commercetools.com","authUrl":"https://auth.europe-west1.gcp.commercetools.com"}'